* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
}

/* ----------------------------------- */
/* Reuseable components */
/* ----------------------------------- */

.row {
  margin: 0 auto;
  width: 90%;
}

/* ----------------------------------- */
/* Navigation Style */
/* ----------------------------------- */

.navigation_container {
  height: 60px;
  width: 100%;
  /* background: rgb(255, 244, 221); */
}

.fixed_nav_container {
  height: 60px;
  width: 100%;
  position: fixed;
  background: #fff;
  box-shadow: 0px 1px 7px rgba(50, 50, 50, 0.15);
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  z-index: 2222;
}

.base_nav {
  height: 60px;
  width: 100%;
}

.inner_nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background: #fff;
  margin: 0 auto;
}

.menu_and_logo {
  display: flex;
  align-items: center;
}

.hamburger_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}
.menu,
.close {
  padding: 3px;
  background: rgba(0, 0, 0, 0.066);
  transition: display 0.3s;
}
.hamburger_menu .menu {
  display: block;
  transition: display 0.3s;
}

.hamburger_menu .close {
  display: none;
  transition: display 0.3s;
}

.brand_logo {
  width: 7.8rem;
}

.brand_logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand_logo img {
  width: 100%;
}

.inner_nav .nav_links {
  display: block;
  position: absolute;
  top: 60px;
  left: 0px;
  background: #fff;
  flex-direction: column;
  width: 100%;
  list-style: none;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: -22222;
}

.inner_nav .show_nav {
  transform: translate(0);
  transition: transform 0.3s;
}

.nav_links .list_item {
  width: 100%;
}

.nav_links .list_item .link_item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  color: #2b2b2b;
  font-size: 0.85em;
  transition: color 0.2s background 0.2s;
}

.nav_links .list_item .link_item:hover {
  background: #494c4f;
  color: #fff;
}
.right_nav {
  display: flex;
  align-items: center;
}

.cart_button {
  display: none;
}

.login_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_button .material-icons-outlined {
  color: rgb(129, 138, 145);
  line-height: 0.9;
  vertical-align: middle;
  color: #fff;
  font-size: 1em;
  margin-right: 6px;
}

/* Login button animation */

.login_button {
  display: block;
  background: #c62829;
  padding: 6px 12px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  margin-left: 20px;
  font-size: 0.99em;
  text-decoration: none;
  color: #fff;
}

.login_button:hover {
  animation: btn-animation 1.1s ease-in-out infinite;
  background: #07a0c3;
  transition: background 0.3s;
}

@keyframes btn-animation {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Main content start */

main .main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 0px;
}

.main_content .imgs {
  z-index: -2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.main_content .imgs .people_img {
  border-radius: 100%;
  width: 290px;
}

.main_content .imgs .el_img {
  position: absolute;
  top: -20px;
  right: 22px;
  height: 320px;
}

.main_content .text_content {
  width: 100%;
  margin-top: 25px;
}

.main_content .text_content h1 {
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: 20px;
  line-height: 1.3em;
}

.text_content .about {
  color: #c62829;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.text_content .para_1 {
  margin-bottom: 20px;
  font-size: 0.89rem;
  font-weight: 400;
}
.text_content .para_2 {
  margin-bottom: 20px;
  font-size: 0.89rem;
  font-weight: 400;
}

.text_content .price {
  color: #07a0c3;
  font-size: 0.9rem;
}

.text_content .price_holder {
  font-size: 1.1rem;
}

.text_content .main_btn {
  display: flex;
  align-items: center;
  margin: 35px 10px;
}

.text_content .main_btn .enrol_btn {
  text-decoration: none;
  padding: 7px 11px;
  background: #c62829;
  color: #fff;
  margin-right: 6px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
  font-size: 0.9rem;
  font-weight: 500;
}

.text_content .main_btn .enrol_btn:hover {
  background: #07a0c3;
}

.text_content .main_btn .enrol_btn .cart {
  margin-right: 6px;
  font-size: 1.3em;
}

.text_content .main_btn .enquire_btn {
  text-decoration: none;
  padding: 7px 11px;
  background: #f7a707;
  color: #fff;
  margin-left: 6px;
  border-radius: 50px;
  font-size: 0.9rem;
  transition: background 0.3s;
  font-weight: 500;
}

.text_content .main_btn .enquire_btn:hover {
  background: #07a0c3;
}

/* Workshop info start */

.workshop_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.box {
  padding: 14px 18px;
  margin: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.box {
  flex: 100%;
}

.box_text {
  font-size: 0.9rem;
}

.box i {
  color: #f7a707;
  font-size: 2.2em;
  padding: 12px 0px;
}

.box h2 {
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px 0px;
}

/* About the mentor Section start */

.about_mentor_container {
  background-color: rgba(153, 153, 153, 0.05);
  /* background: red; */
  margin-bottom: 50px;
}

.about_mentor {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
}

.brand_imgs {
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand_imgs {
  position: relative;
  margin-bottom: 70px;
}

.brand_imgs .ele_img {
  height: 400px;
  position: absolute;
  top: -60px;
}

.brand_imgs .brand_logo {
  width: 240px;
}

.brand_imgs .white_circle {
  height: 270px;
  width: 270px;
  background: rgba(255, 255, 255);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.text_content_about_mentor {
  margin-top: 70px;
  width: 66%;
}

.text_content_about_mentor .text {
  color: #c62829;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 14px;
}

.text_content_about_mentor .head_about_mentor {
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 26px;
}

.text_content_about_mentor .para_about_mentor {
  font-size: 0.89rem;
  font-weight: 400;
}

/* Workshop note section start */

.workshop_info_note {
  margin: 90px 0px;
  display: flex;
  flex-direction: column;
}

.box_note {
  padding: 20px 18px;
  margin: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.box_note .notes_i,
.box_note .workshop_notes_i {
  color: #f7a707;
  margin-bottom: 20px;
  font-size: 2.2em;
}

.workshop_info_note .takeaways_notes_head,
.workshop_notes .workshop_notes_head {
  font-size: 1.16em;
  font-weight: 500;
  margin-bottom: 10px;
}

.workshop_info_note ul {
  padding-left: 30px;
}

.workshop_info_note ul li {
  font-size: 0.95em;
}

.workshop_notes .wn_text {
  font-size: 0.95em;
  margin-bottom: 10px;
}

/* more mentoring workshop section start */

.more_mentoring_section_holder {
  margin: 50px 0px;
}
.more_mentoring_section_holder .headerg_and_viewAll {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.headerg_and_viewAll .more_mentoring_head {
  font-size: 1.7em;
}

.headerg_and_viewAll .view_all_btn {
  margin-top: 20px;
  padding: 8px 28px;
  color: #fff;
  background: #c62829;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  transition: background 0.3s;
}

.headerg_and_viewAll .view_all_btn:hover {
  background: #07a0c3;
}

.workshop_components {
  display: flex;
  flex-direction: column;
}

.workshop_components .component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  border-radius: 20px;
}

.workshop_components .component:hover {
  box-shadow: 0px 0px 12px 1px rgba(94, 94, 94, 0.28);
}

.workshop_components .component .thumbneil {
  width: 100%;
  border-bottom: 5px solid #07a0c3;
  margin-bottom: 20px;
}

.workshop_components .component .mentor img {
  border-radius: 50%;
  width: 40px;
}

.workshop_components .component .desc {
  padding: 15px;
  font-size: 0.95em;
}

.mentor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.mentor_text {
  align-self: center;
  margin-left: 10px;
  color: #494c4f;
  font-size: 0.9em;
}

/* Footer start */

footer {
  background-color: #3e3e3e;
  padding: 50px 0;
}

footer .upper_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .upper_footer img {
  height: 50px;
  margin-bottom: 24px;
}

footer .footer_text {
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 25px;
}

footer .mail_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f7a707;
  text-decoration: none;
  margin-bottom: 25px;
  font-weight: 300;
}

footer .mail_i {
  margin-right: 10px;
}


.footer_nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}


footer .footer_nav_links a {
  font-weight: 300;
  color: #f7a707;
  text-decoration: none;
  margin: 0px 11px;
  transition: color 0.2s;
}

footer .footer_nav_links a:Hover {
  color: #e68a00;
}

footer hr {
  width: 100%;
  color: #fff;
  background-color: white;
  margin-bottom: 40px;
}

footer .copyright_and_social_links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

footer .copyright {
  color: #fff;
  font-weight: 200;
  font-size: 0.9rem;
}

footer .social_links {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .social_links i {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c62829;
  color: #fff;
  border-radius: 50px;
  font-size: 0.9em;
  margin-left: 18px;
}

/* Message float button start */

.message_float {
  position: fixed;
  bottom: 28px;
  right: 28px;
}

.message_float .message_float_btn {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background:#c62829;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_float .message_float_btn .chat,
.message_float .message_float_btn .close,
.message_float_btn .close_chat {
  color: #fff;
  cursor: pointer;
  font-size: 2.2em;
}

.message_float_btn .close_chat {
  display: none;
}

.contact_popup {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 280px;
  background: #fff;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgba(53, 53, 53, 0.05);
  bottom: -30px;
  right: 8px;
  transition: bottom 0.3s;
}

.show_pop {
  bottom: 80px;
  opacity: 1;
  visibility: visible;
}

.contact_popup i {
  color: #000;
  font-size: 1.6em;
  margin-right: 12px;

}
.contact_popup .message_text_icon {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 8px 0px;
  font-weight: 300;
  cursor: pointer;
}


.contact_popup .whatsapp {
  font-family: 'Font Awesome 5 Brands';
}

/* Media queries start */

/* Media queries for the width more than 460px */

@media only screen and (min-width: 460px) {
  .main_content .imgs .el_img {
    right: 72px;
    height: 320px;
  }
}

/* Media queries for the width more than 550px */

@media only screen and (min-width: 550px) {
  .main_content .imgs .el_img {
    right: 112px;
    height: 320px;
  }
}

/* Media queries for the width more than 602px */

@media only screen and (min-width: 602px) {
  .headerg_and_viewAll .view_all_btn {
    margin-top: 0px;
    padding: 8px 28px;
    margin: 0px 0px 0px 10px;
  }
}
/* Media queries for the width more than 680px */

@media only screen and (min-width: 680px) {
  .main_content .imgs .people_img {
    border-radius: 100%;
    width: 320px;
  }

  .main_content .imgs .el_img {
    right: 172px;
    height: 340px;
  }
}

/* Media queries for the width more than 768px */

@media only screen and (min-width: 768px) {
  .text_content .para_1 {
    font-size: 1rem;
  }

  .text_content .para_2 {
    font-size: 1rem;
  }

  .navigation_container {
    height: 65px;
  }

  .fixed_nav_container {
    height: 65px;
  }

  .row {
    width: 86%;
  }

  .inner_nav {
    height: 65px;
    width: 86%;
  }

  .brand_logo {
    width: 8rem;
  }

  .inner_nav .nav_links {
    top: 65px;
  }

  .right_nav {
    display: flex;
    align-items: center;
  }

  .cart_button:hover .material-icons-outlined {
    transform: scale(1.1, 1.1);
    line-height: 1;
  }

  .cart_button .material-icons-outlined {
    color: rgb(129, 138, 145);
    line-height: 1;
    vertical-align: middle;
    font-size: 1.4em;
    transition: transform 0.2s;
  }

  .cart_button {
    display: block;
  }
}

/* Media queries for the width more than 928px */

@media only screen and (min-width: 920px) {
  .text_content_about_mentor {
    margin-top: 10px;
    width: 66%;
  }

  .workshop_components {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .workshop_components .component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30.33333333333333%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  border-radius: 20px;
}
  .main_content .imgs .el_img {
    top: -30px;
    right: 225px;
    height: 350px;
  }

}

/* Media queries for the width more than 1024px */

@media only screen and (min-width: 1024px) {

  footer .copyright_and_social_links {  
    flex-wrap: nowrap;
  }

  footer .social_links {
    margin-top: 0px;
    width: 30%;
  }
  
  .box_note {
    flex: 1;
    height: 460px;
  }

  .workshop_info_note {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
  }

  .workshop_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  
  .box {
    padding: 14px 18px;
    margin: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
  }
  
  .box {
    flex: 1.3;
  }
  
  .box2,
  .box3 {
    flex: 0.9;
  }
  main .main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 35px 0px;
  }

  .main_content .imgs .el_img {
    top: -122px;
    right: -15px;
    height: 400px;
  }

  .main_content .imgs .people_img {
    border-radius: 100%;
    width: 350px;
  }

  .main_content .text_content {
    width: 60%;
    margin-left: 10px;
  }

  .main_content .imgs {
    width: 40%;
    margin-right: 10px;
  }

  .main_content .text_content h1 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 1.4em;
  }

  .text_content .main_btn .enrol_btn {
    padding: 10px 37px;
    margin-right: 70px;
  }

  .text_content .main_btn .enquire_btn {
    padding: 10px 37px;
    margin-left: 70px;
  }

  .text_content .main_btn .enrol_btn .cart {
    margin-right: 10px;
    font-size: 1.3em;
  }
}

/* Media queries for the width more than 1124 */

@media only screen and (min-width: 1124px) {

  .brand_imgs .ele_img {
    height: 450px;
    position: absolute;
    top: -60px;
  }
  
  .brand_imgs {
    position: relative;
    margin-right: 10px;
  }

  .about_mentor {
    flex-direction: row;
  }
  
  .main_content .imgs .el_img {
    top: -122px;
    right: -10px;
    height: 400px;
  }

  .hamburger_menu {
    display: none;
  }

  .inner_nav {
    height: 65px;
    width: 86%;
  }

  .brand_logo {
    width: 8rem;
  }

  .inner_nav {
    z-index: 222;
  }

  .inner_nav .nav_links {
    position: static;
    flex-direction: row;
    transform: none;
  }

  .inner_nav .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 42px;
    list-style: none;
  }

  .nav_links .list_item {
    position: relative;
    width: auto;
  }

  .nav_links .list_item::after {
    position: absolute;
    content: " ";
    bottom: 0;
    display: block;
    right: 0;
    width: 0px;
    height: 3px;
    background: #07a0c3;
    transition: width 0.2s ease-in-out;
  }

  .nav_links .list_item:hover::after {
    width: 100%;
  }

  .nav_links .list_item:hover .link_item {
    color: #c62829;
  }

  .nav_links .list_item .link_item:hover {
    background: none;
    color: none;
  }

  .nav_links .list_item .link_item {
    display: block;
    text-decoration: none;
    padding: 14px 18px;
    color: #2b2b2b;
    font-size: 0.9em;
    transition: color 0.2s;
  }

  .login_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login_button .material-icons-outlined {
    color: rgb(129, 138, 145);
    line-height: 1;
    vertical-align: middle;
    color: #fff;
    font-size: 1.1em;
    margin-right: 6px;
  }

  /* Login button animation */

  .login_button {
    display: block;
    background: #c62829;
    padding: 10px 18px;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    margin-left: 22px;
    font-size: 1.04em;
    text-decoration: none;
    color: #fff;
  }
}

/* Media queries for the width more than 1224px */

@media only screen and (min-width: 1224px) {
  .main_content .imgs .el_img {
    top: -122px;
    right: 20px;
    height: 400px;
  }

  .inner_nav {
    height: 70px;
    width: 1140px;
  }
  .brand_logo {
    width: 9.5rem;
  }
  .navigation_container {
    height: 70px;
  }

  .fixed_nav_container {
    height: 70px;
  }

  .base_nav {
    height: 70px;
    width: 100%;
  }

  .row {
    width: 1140px;
  }

  .nav_links .list_item .link_item {
    font-size: 1em;
  }
}

/* Media queries ends */
